.messages {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.messageTop {
  display: flex;
}
.messageImge {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.messageText {
  padding: 10px;
  border-radius: 20px;
  color: white;
  background-color: #1877f2;
  max-width: 300px;
}
.messageBottom {
  font-style: 12px;
  margin-top: 10px;
}
.messages.own {
  align-items: flex-end;
}
.messages.own .messageText {
  background-color: rgb(233, 229, 229);
  color: black;
}
