/* .chatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}
.chatOnlineImgContainer {
  position: relative;
  margin-top: 10px;
}
.chatOnlineImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}
.chatOnlineBadge {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  top: 2px;
  right: 2px;
} */

.chatOnline {
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
}
.chatOnlineImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgb(48, 48, 48);
}

.chatOnlineName {
  display: flex;
  justify-content: center;
}
