.homePage_Banner_div {
  position: relative;
  background-color: black;
}
.homePage_Banner_Image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.homePage_Banner_Image_HeadTag {
  position: absolute;
  top: 40%;
  left: 10%;
  color: rgb(255, 255, 255);
}

.homePage_Banner_Image_HeadTag h1 {
  font-family: cursive;
  color: rgb(255, 255, 255);
}

.homePage_Banner_Image_HeadTagButton {
  font-family: cursive;
  text-transform: lowercase !important ;
  position: relative;
  padding: 12px 20px;
  outline: none;
  border: 1px solid #303030;
  background: #000000;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}

.homePage_Banner_Image_HeadTagButton:hover {
  box-shadow: 0 0 10px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff;
  transition-delay: 0.6s;
}

.homePage_Banner_Image_HeadTagButton span {
  position: absolute;
}

.homePage_Banner_Image_HeadTagButton span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
}

.homePage_Banner_Image_HeadTagButton:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.homePage_Banner_Image_HeadTagButton span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
}

.homePage_Banner_Image_HeadTagButton:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.homePage_Banner_Image_HeadTagButton span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
}

.homePage_Banner_Image_HeadTagButton:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.homePage_Banner_Image_HeadTagButton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
}

.homePage_Banner_Image_HeadTagButton:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.homePage_Banner_Image_HeadTagButton:active {
  background: #000000;
  background: linear-gradient(to top right, #000000, #000000);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ffffff, 0 0 8px #ffffff, 0 0 8px #ffffff;
  transition: 0.1s;
}

.homePage_Banner_Image_HeadTagButton:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

.serviceCardsDiv {
  background-color: #ebebebb0;
  width: 100%;
  height: 50vh;
}

.serviceCardsSession {
  margin-top: 0%;
}
.mostratingCardsHeadDiv {
  display: flex;
  justify-content: center;
  margin: 40px 10px 25px 10px;
}
.mostratingCardsHeadDiv h1 {
  color: rgba(0, 0, 0, 0.719);
}
.homePage_Banner_second_Image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
